<!doctype html>
<html>
  <head>
    <title>Medic</title>
  </head>

  <body>
    <h3>Execution Filters</h3>
    <div id="application"></div>

    <script src="/node_modules/steal/steal.js" main="@empty">
      import React from 'react';
      import ReactDOM from 'react-dom';
      import ExecutionFilters from '~/components/execution-filters/';
      import '~/models/fixtures/';

      ReactDOM.render(<ExecutionFilters />, document.getElementById('application'));
    </script>

  </body>
</html>
