body{
  font-family: Helvetica;
  color: #3d3e3e;
}

.container{
  display: block;
  margin: 0 auto;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 60px;
  width: 400px;
  margin-top: 120px;
  background-color: white;
}

h1{
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-size: 35px;
  display: inline-block;
  padding-bottom: 15px;
}

.logo{
  width: 25px;
  display: inline-block;
  margin-right: 10px;
}

.glinda{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #d6d6d6;
}

p{
  text-align: center;
  display: inline-block;
  margin: 0;
}

.title{
  color: #cc202f;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}

.warning{
  text-align: center;
}
