/*
  This is a mapping of elements to their Proper name.
  This is used in the theme.less file to reference
  variables and overrides files for individual components.
 */

@siteProper       : 'Site';
@resetProper      : 'Reset';

/* Elements */
@buttonProper     : 'Button';
@containerProper  : 'Container';
@dividerProper    : 'Divider';
@flagProper       : 'Flag';
@headerProper     : 'Header';
@iconProper       : 'Icon';
@imageProper      : 'Image';
@inputProper      : 'Input';
@labelProper      : 'Label';
@listProper       : 'List';
@loaderProper     : 'Loader';
@railProper       : 'Rail';
@revealProper     : 'Reveal';
@segmentProper    : 'Segment';
@stepProper       : 'Step';

/* Collections */
@breadcrumbProper : 'Breadcrumb';
@formProper       : 'Form';
@gridProper       : 'Grid';
@menuProper       : 'Menu';
@messageProper    : 'Message';
@tableProper      : 'Table';

/* Modules */
@accordionProper  : 'Accordion';
@checkboxProper   : 'Checkbox';
@dimmerProper     : 'Dimmer';
@dropdownProper   : 'Dropdown';
@embedProper      : 'Embed';
@modalProper      : 'Modal';
@nagProper        : 'Nag';
@popupProper      : 'Popup';
@progressProper   : 'Progress';
@ratingProper     : 'Rating';
@searchProper     : 'Search';
@shapeProper      : 'Shape';
@sidebarProper    : 'Sidebar';
@stickyProper     : 'Sticky';
@tabProper        : 'Tab';
@transitionProper : 'Transition';

/* Views */
@adProper         : 'Ad';
@cardProper       : 'Card';
@commentProper    : 'Comment';
@feedProper       : 'Feed';
@itemProper       : 'Item';
@statisticProper  : 'Statistic';
