<!doctype html>
<html>
  <head>
    <title>Medic</title>
  </head>

  <body>
    <h3>Executions Table</h3>
    <div id="application"></div>

    <script src="/node_modules/steal/steal.js" main="@empty">
      import React from 'react';
      import ReactDOM from 'react-dom';
      import { Site } from '@public/semantic-ui/index';
      import ExecutionsTable from '@public/components/executions-table/';
      import '@public/models/fixtures/';

      ReactDOM.render(<Site><ExecutionsTable /></Site>, document.getElementById('application'));
    </script>

  </body>
</html>
